        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Paypal with nodejs</title>

        </head>

        <body>
        <h1>Paypal nodejs integration by ericem</h1>
        <h1>paypal nodejs</h1>
        <h2>price: $25</h2>
            <form action="/pay" method="post">
                <input type="submit" value="Pay with Paypal">
            </form>
        </body>

        </html>